<h1>Backbone App Here</h1>

<div id="main"></div>

<script id="appViewTemplate" type="html/template">
    <div>
        Form goes here
    </div>

    <ul>
        Search results go here
    </ul>
</script>

<script id="searchForm" type="html/template">
    <input type="text" id="search"/>
    <button id="submit"></button>
</script>