<h1>Meteor Airlines</h1>

<div id="main"></div>

<script id="airlineAppViewTemplate" type="html/template">
    <div id="searchForm">
        Form goes here
    </div>

    <ul>
        Search results go here
    </ul>
</script>

<script id="searchFormTemplate" type="html/template">
    <form>
        <div>
            <input type="text" id="origin" placeholder="origin" required />
            <input type="text" id="destination" placeholder="destination" required />
        </div>


        <button id="submit">Search</button>
    </form>
</script>